<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
  <title></title>
  <link rel='stylesheet' href='./css/bootstrap.min.css' type='text/css' media='screen'>
  <link rel='stylesheet' href='./css/bootstrap-theme.min.css' type='text/css' media='screen'>
  <link rel='stylesheet' href='./css/style.css' type='text/css' media='screen'>
</head>
<body>
 
  <!-- <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">LOK</a>
      </div>
      <nav id="bs-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li> <a href="#"></a> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"></a></li>
        </ul>
      </nav>
    </div>
  </header> -->
 
 
 
 
  <div class='bd-pageheader'>
    <div class='container-fluid'>
      <div class='col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1' id="base_info">

        <div class="progress-pie-chart pull-right" v-if="cpu_percent">
          <div class="ppc-progress">
            <div class="ppc-progress-fill" style="transform:rotate({{360*cpu_percent/100}}deg);"></div>
          </div>
          <div class="ppc-percents">
            <div class="pcc-percents-wrapper">
              <span>{{cpu_percent}}%</span>
              <span class="mark-label">current cpu</span>
            </div>
          </div>
        </div>
          
        <div class="progress-pie-chart pull-right" v-if="memory_percent">
          <div class="ppc-progress">
            <div class="ppc-progress-fill" style="transform:rotate({{360*memory_percent/100}}deg);"></div>
          </div>
          <div class="ppc-percents">
            <div class="pcc-percents-wrapper">
              <span>{{memory_percent}}%</span>
              <span class="mark-label">current memory<br>(out of 1 GB)</span>
            </div>
          </div>
        </div>

        <div class="progress-pie-chart pull-right" v-if="fps">
          <div class="ppc-progress">
            <div class="ppc-progress-fill" style="transform:rotate({{360*(fps/60)}}deg);"></div>
          </div>
          <div class="ppc-percents">
            <div class="pcc-percents-wrapper">
              <span>{{fps}}/60</span>
              <span class="mark-label">current fps</span>
            </div>
          </div>
        </div>

        

        <h1>LOKing at {{app_name}}</h1>
        <p class='lead'>
          there is {{count}} thread runing
        </p>
        <p class="lead" v-if="start_time">
          Start at : <time id="start_time" datetime="{{start_time}}"></time>
        </p>
        <!-- <p class="lead">
          current path: {{path}}
        </p> -->
      </div>
    </div>
  </div>
  <div class='container-fluid main-container'>
    <div class='row'>
      <div class='col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 main'>
        <!-- <p>
          <a href="#" id="reload_chart">
            reload chart
          </a>
        </p> -->
        <div class='row'>
          <div class='col-xs-12 col-sm-12 col-md-4 col-lg-5'>
            <h4>CPU</h4>
            <canvas id="cpu_chart"></canvas>
          </div>
          <div class='col-xs-12 col-sm-12 col-md-4 col-lg-5'>
            <h4>Memory(MB)</h4>
            <canvas id="memory_chart"></canvas>
          </div>
          <div class='col-xs-12 col-sm-12 col-md-4 col-lg-2'>
            <h4>FPS</h4>
            <canvas id="fps_chart"></canvas>
          </div>
        </div>




        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a href="#">requests</a>
          </li>
          <!-- <li role="presentation">
            <a href="#">event</a>
          </li> -->
          <li role="presentation" class="Dropdown pull-right" id="request_filter">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Filter <span class="caret"></span> </a>
            <ul class="dropdown-menu">
              <li><a href="#" data-type="all">json</a></li>
              <li><a href="#" data-type="all">image</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" data-type="all">All</a></li>
            </ul>
          </li>
        </ul>


        <div class='table-responsive'>
          <table class='table' id="request_table">
            <thead>
              <tr>
                <th>Method</th>
                <th>Time</th>
                <th>Datetime</th>
                <th>Size</th>
                <th>requestURLString</th>
                <!-- <th>responseAllHeaderFields</th> -->
                <th>responseMIMEType</th>
              </tr>
            </thead>
            <tbody id="requests_list">
              <tr v-for="request in list | filter_request filter_type" data-index="{{ $index }}">
                <td>
                  <div class="base_info_block">
                    <span class="method method-{{request.requestHTTPMethod}}">{{request.requestHTTPMethod}}</span>
                    <span class="status status-{{request.requestHTTPMethod}}">{{request.responseStatusCode}}</span>
                  </div>
                </td>
                <td title="{{request.time}}">{{request.time.toFixed(2)}}s</td>
                <td>{{ date_format(request) }}</td>
                <td>{{(request.responseDataSize/1024).toFixed(2)}}kb</td>
                <td title="{{request.requestURLString}}" class="response-data-url">
                  <a href="#" v-if="request.requestURLString.length > 30" v-on:click="show_content(request)">
                    {{request.requestURLString.slice(0,40)+"..."}}
                  </a>
                  <a href="#" v-else v-on:click="show_content(request)">
                    {{request.requestURLString}}
                  </a>
                  <div class="params-list" v-if="request.responseMIMEType == 'text/javascript' ||request.responseMIMEType == 'application/json'">
                    {{{params_list_html(request)}}}
                  </div>
                </td>
                <td>{{request.responseMIMEType}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript' src='./js/jquery-2.1.4.min.js'></script>
  <script type='text/javascript' src='./js/moment.js'></script>
  <script type='text/javascript' src='./js/vue.js'></script>
  <script type='text/javascript' src='./js/Chart.min.js'></script>
  <script type='text/javascript' src='./js/bootstrap.min.js'></script>  
  <script type='text/javascript' src='./js/hulk.min.js'></script>  
  <script type='text/javascript' src="./js/application.js"></script>  
  
  
<!--MODAL -->
  <div id="request-result-block">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p class="title"></p>
    
    

    <div id="JSON-body" class="request-result-body">

    </div>
    <!-- <div class="result-block-bottom">
      <button id="submit-block" class="btn btn-info">submit</button>
    </div> -->
  </div>
  
  <div class="modal fade" tabindex="-1" role="dialog" id="request-result-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">

          <div class="request-result-body image-body">
            
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
<!-- -->
  
  
</body>
</html>